Repository borgesaugusto/forsys, pull requests merged in 2024-06, with the labels that each got.

#27 Adding benchmarking tests to track execution speed
  .github/workflows/python-app.yml
  .github/workflows/python-benchmark.yml
  forsys/fmatrix.py
  forsys/forsys.py
  forsys/virtual_edges.py
  pyproject.toml
  tests/benchmark.py
  tests/data/12_12/step_20.dmp
  tests/data/12_12/step_21.dmp
  tests/data/12_12/step_22.dmp
  tests/data/12_12/step_23.dmp
  tests/data/12_12/step_24.dmp
Labels: dependencies, github_actions, tests

#32 Pressure tests and warning in git
  forsys/fmatrix.py
  forsys/frames.py
  tests/test_fit.py
  tests/test_pressure.py
Labels: tests

#26 PressureMatrix optimization
  forsys/general_matrix.py
  forsys/pmatrix.py
  pyproject.toml
Labels: enhancement, dependencies
